*
{
    padding: 0;
    margin: 0;
    font-family: Arial;
}

#menu-horizontal
{
    background-color: rgb(0, 0, 0);
}
#menu-horizontal ul
{
    max-width: 800px;
    list-style: none;
    padding: 0;
}
#menu-horizontal ul li
{
    display: inline;
}
#menu-horizontal ul li a
{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-horizontal ul li a:hover
{
    background-color: rgb(24, 139, 233);
}

#menu-horizontal ul li:last-child a
{
    background-color: rgd(24, 139, 233);
}

#menu-h{
    float: right;
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}


