*
{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
body
{
    background-color: rgb(255, 255, 255);
}

#menu-horizontal
{
    background-color: rgb(48, 45, 45);
}

#nav-item
{
    position: relative;
    right: 550px;
}
#menu-horizontal ul
{
    max-width: 1000px;
    list-style: none;
    padding: 0;
}
#menu-horizontal ul li
{
    display: inline;
}
#menu-horizontal ul li a
{
    color: #fff;
    font-size: 17px;
    padding: 30px;
    position: relative;
    left: 600px;
    display: inline-block;
    text-decoration: none;
    transition: background .2s;
}

#menu-horizontal ul li a:hover
{
    background-color: rgb(10, 128, 224);
}

#menu-horizontal ul li:last-child a 
{
    position: relative;
    left: 800px;
    background-color: rgb(24, 139, 233);
}

.imagem
{
    position: relative;
    width: 800px;
    left: 600px;
    height: 800px;
    top: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 600px) 
{
    .body 
    {
        font-size: 14px;
    }
}
/* 
.seta {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #333;
    position: relative;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 50px;
}

.seta:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 70%;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

.seta:hover:before {
    left: 75%;
}

@keyframes avancar {
    0% { transform: translateX(0); }
    100% { transform: translateX(10px); }
}

.seta:hover:before {
    animation: avancar 0.3s ease forwards;
} */
